@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  
* {
    box-sizing: border-box;
}
  
html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}
  
header {
    text-align: center;
}

h1 {
    padding: 20px 0;
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

.header-username {
    padding: 0 25px;
}
  
div#change_username {
    width: 100%;
}

div#change_username label {
    font-family: 'Lato';
    font-size: 17px;
}

div#change_username input {
    width: 100%;
    max-width: 400px;
    height: 30px;
    border: 0;
    border-bottom: 1px solid #ccc;
    padding: 0 10px;
    font-family: 'Lato';
    font-size: 17px;
}

div#change_username input::placeholder {
    font-family: 'Lato';
    font-size: 17px;
}

div#change_username button {
    font-size: 17px;
    padding: 7px 10px;
    border-radius: 6px;
    cursor: pointer;
}

section.username {
    max-width: 600px;
    margin: 0 auto 15px;
    text-align: center;
}
  
section#chatroom {
    width: 600px;
    height: 75%;
    margin: 0 auto;
    background: #f3f3f3;
    overflow: auto;
}
  
section#input_zone {
    width: 600px;
    height: 5%;
    margin: 15px auto;
    display: flex;
    justify-content: center;
}

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  
input#username {
    font-family: 'Lato', sans-serif;
}

input#message {
    width: 100%;
    max-width: 400px;
    height: 37px;
    margin-right: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    border: 0;
    border-bottom: 1px solid #ccc;
}

button#send_message {
    border-radius: 6px;
    font-size: 17px;
    padding: 7px 10px;
    cursor: pointer;
}
  
p.message {
    margin: 5px 10px;
    width: 85%;
    border-radius: 8px;
    height: 40px;
    font-size: 2vh;
    font-family: 'Lato', sans-serif;
    padding: 1vh;
    display: flex;
    align-items: center;
}

.message:nth-child(even) {
    float: left;
    background-color: rgb(209, 215, 218);
}

.message:nth-child(odd) {
    float: right;
    background-color: rgb(170, 180, 190);
}

input:focus,
button:focus {
    outline: 0;
    box-shadow: none;
}

@media(max-width: 620px) {
    section.username,
    section#chatroom,
    section#input_zone {
        width: 400px;
    }

    div#change_username input {
        max-width: 250px;
    }
}

@media(max-width: 430px) {
    section.username,
    section#chatroom,
    section#input_zone {
        width: 300px;
    }

    div#change_username input {
        max-width: 150px;
    }

    section#chatroom {
        height: 70%;
    }

    input, button, label {
        font-size: 15px !important;
    }
}